<%- include('../partials/header') %>

<ul>
  <% skills.forEach(function(skill) { %>
    <li>
      <form
        action="/skills/<%= skill.id %>?_method=DELETE"
        method="POST"
        class="delete-form"
      >
      <button class="remove-btn" type="submit">X</button>
      </form>
      <a class="skill-title-link" href="/skills/<%= skill.id %>"><%= skill.name %></a>
      <img class="skills-icon" src="<%= skill.icon %>" alt="">
    </li>
  <% }); %>
</ul>
<a href="/skills/new">Add More Skills</a>

  
<%- include('../partials/footer') %>
